.product-list{
    text-align: center;
    margin-top: 50px;
}
.product-list > ul{
    margin: 0;
}
.product-list > ul > li{
    display: inline-block;
    border: 1px solid skyblue;
    padding: 5px;
    width: 150px;
}
.search-box{
    width: 400px;
    margin: 20px;
    height: 40px;
    border: 1px solid skyblue;
    padding-left: 20px;
}